  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: xx-large;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 0px; 
    color: black;
    box-shadow:5px 5px 50px black;
    width: fit-content;
    font-weight: bold;
  }
  .heading_div2
  {
    font-size: 25px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    font-weight: bolder;
    width:fit-content;
    color:black;
  }
  .heading:hover
  {
    background-color: orange;
  }
  .result_para_tag span
  {
    white-space: pre-line;
  }
  .result:hover
  {
    background-color: cyan;
    color: black;
  }
 canvas
 {
   margin-top: 160px;
   border-radius: 100%;
   border-width: 7px;
   border-style: solid;
   border-color: orange;
 }
 .footer
 {
   width: 100%;
   height: 30px;
   font-size: 18px;
   font-weight: bolder;
   bottom:0;
   background-color: black;
   position: fixed;
   color:white;
   text-align: center;
   margin-top: 30px;
   box-shadow: 4px 4px 60px black;
 }
 body
 {
   background-image: url("background.jpg");
 }
 .footer:hover
 {
   background-color: white;
   color: black;
 }